#title {
  margin: 40px 0 40px 0;
}

img {
  width: 100%;
}

.para {
  margin: 20px 0 40px 0;
}

#comments-title {
  margin-top: 100px;
}

#comment {
  margin-top: 20px;
}

footer {
  text-align: center;
}
