{% extends "layout.html" %}
{% block content %}
<h1 id="title">Oahu</h1>
<img src="https://upload.wikimedia.org/wikipedia/commons/7/7f/Hanauma_Bay_Panoramic_View.JPG" alt="Hanauma Bay">
<p class="para">
  O‘ahu known as "The Gathering Place" is the third largest of the Hawaiian Islands. It is home to about two-thirds of the
  population of the U.S. state of Hawaii. The state capital, Honolulu, is on Oahu's southeast coast. Including small associated
  islands such as Ford Island and the islands in Kāneohe Bay and off the eastern (windward) coast, its area is 596.7 square
  miles (1,545.4 km2), making it the 20th largest island in the United States. Oahu is 44 miles (71 km) long and 30 miles
  (48 km) across. Its shoreline is 227 miles (365 km) long. The island is composed of two separate shield volcanoes: the
  Waianae and Koolau Ranges, with a broad "valley" or saddle (the central Oahu Plain) between them. The highest point is
  Ka'ala in the Waianae Range, rising to 4,003 feet (1,220 m) above sea level.
</p>

<h3>History</h3>
<img src="https://upload.wikimedia.org/wikipedia/commons/5/59/Arizona_Memorial_at_Pearl_Harbor%2C_Hawaii.JPG" alt="Pearl Harbour">
<p class="para">
  The 304-year-old Kingdom of Oahu was once ruled by the most ancient aliʻi in all of the Hawaiian Islands. The first great
  king of Oahu was Mailikukahi, the lawmaker, who was followed by many generation of monarchs. Kualii was the first of the
  warlike kings and so were his sons. In 1773, the throne fell upon Kahahana, the son of Elani of Ewa. In 1783 Kahekili II,
  King of Maui, conquered Oahu and deposed the reigning family and then made his son, Kalanikūpule, king of Oahu. Kamehameha
  the Great would conquer in the mountain Kalanikupule's force in the Battle of Nuuanu. Kamehameha founded the Kingdom of
  Hawaii with the conquest of Oahu in 1795. Hawaii would not be unified until the islands of Kauai and Niihau surrendered
  under King Kaumualii in 1810. Kamehameha III moved his capital from Lāhainā, Maui to Honolulu, Oahu in 1845. Iolani Palace,
  built later by other members of the royal family, is still standing, and is the only royal palace on American soil. Oahu
  was apparently the first of the Hawaiian Islands sighted by the crew of HMS Resolution on January 19, 1778 during Captain
  James Cook's third Pacific expedition. Escorted by HMS Discovery, the expedition was surprised to find high islands this
  far north in the central Pacific. Oahu was not actually visited by Europeans until February 28, 1779 when Captain Charles
  Clerke aboard HMS Resolution stepped ashore at Waimea Bay. Clerke had taken command of the ship after James Cook was killed
  at Kealakekua Bay (island of Hawaiʻi) on February 14, and was leaving the islands for the North Pacific. With the discovery
  of the Hawaiian Islands came the introduction of disease, mosquitos and aggressive foreign animals. Although indirect,
  the simple exposure to these foreign species caused permanent damage to the Native Hawaiian people and environment. The
  Imperial Japanese Navy's attack on Pearl Harbor, Oahu on the morning of December 7, 1941 brought the United States into
  World War II. The surprise attack was aimed at the Pacific Fleet of the United States Navy and its defending Army Air Forces
  and Marine Air Forces. The attack damaged or destroyed twelve American warships, destroyed 188 aircraft, and resulted in
  the deaths of 2,335 American servicemen and 68 civilians (of those, 1,177 were the result of the destruction of the USS
  Arizona alone). At the time, Hawai'i was not yet a state. Today, Oahu has become a tourism and shopping haven. Over five
  million visitors (mainly from the contiguous United States and Japan) flock there every year to enjoy the quintessential
  island holiday experience.
</p>
<h3>Tourist attractions</h3>
<div class="row">
  <div class="col-md-6">
    <figure>
      <img src="https://upload.wikimedia.org/wikipedia/commons/7/74/Waikiki_Beach%2C_Honolulu.JPG" alt="Waikīkī Beach">
      <figcaption>Waikīkī Beach is one of the most known beaches in the world.</figcaption>
    </figure>
  </div>
  <div class="col-md-6">
    <figure>
      <img src="https://upload.wikimedia.org/wikipedia/commons/9/93/Chinaman%27s_Hat_-_Oahu_Hawaii.JPG" alt="Mokoliʻi island">
      <figcaption>Mokoliʻi island, also known as Chinaman's Hat, offshore of Kualoa Valley.</figcaption>
    </figure>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <h4>Top beaches</h4>
    <ul>
      <li>Ala Moana Beach</li>
      <li>Hanauma Bay</li>
      <li>Kāneohe Bay</li>
      <li>Ko Olina Beach Park</li>
      <li>Kailua</li>
      <li>Papailoa Beach</li>
      <li>Sandy Beach</li>
      <li>Sunset Beach</li>
      <li>Waikīkī Beach</li>
      <li>Waimanalo Beach</li>
      <li>Waimea Bay</li>
    </ul>
  </div>
  <div class="col-md-8">
    <h4>Attractions</h4>
    <div class="col-md-6">
      <ul>
        <li>Ala Moana</li>
        <li>Aloha Tower</li>
        <li>Aulani, a Disney Resort & Spa</li>
        <li>Banzai Pipeline</li>
        <li>Bishop Museum</li>
        <li>Diamond Head</li>
        <li>Dole Plantation</li>
        <li>Foster Botanical Garden</li>
        <li>Kaena Point</li>
        <li>Honolulu</li>
        <li>Honolulu Museum of Art</li>
        <li>Hoʻomaluhia Botanical Garden</li>
        <li>ʻIolani Palace</li>
        <li>Kualoa Ranch</li>
        <li>Lāʻie Hawaii Temple</li>
        <li>Nuuanu Pali Lookout</li>
      </ul>
    </div>
    <div class="col-md-6">
      <ul>
        <li>Mauna Ala</li>
        <li>Makapuu Lighthouse</li>
        <li>National Memorial Cemetery of the Pacific or "Punchbowl"</li>
        <li>North Shore</li>
        <li>Pali Lookout</li>
        <li>Pearl Harbor</li>
        <li>Polynesian Cultural Center</li>
        <li>Triple Crown of Surfing</li>
        <li>USS Arizona Memorial</li>
        <li>USS Missouri</li>
        <li>Valley of the Temples Memorial Park</li>
        <li>Waikīkī</li>
        <li>Waikiki Aquarium</li>
        <li>Waimea Valley Audubon Center</li>
      </ul>
    </div>
  </div>
</div>
<hr>
<form action="/" method="POST">
  <div class="form-group">
    <label for="username">Name:</label>
    <input type="text" class="form-control" name="username" id="username">
  </div>
  <div class="form-group">
    <label for="comment">Comment:</label>
    <textarea class="form-control" rows="5" id="comment" name="comment_text"></textarea>
  </div>
  <button type="submit" class="btn btn-default">Comment</button>
</form>
<h3 id="comments-title">Comments</h3>
{% for comment in comments %}
<div class="row">
  <div class="col-md-1"></div>
  <div id="comment" class="col-md-8">
    <strong>{{ comment.username }}: </strong>{{ comment.comment_text }}
  </div>
  <div class="col-md-3"></div>
</div>
{% endfor %}
{% endblock %}
